<section
    class="usa-section usa-section--dark"
    aria-labelledby="recent-templates"
>
    <div class="grid-container">
        <h2 id="recent-templates" class="usa-heading">Recently used templates</h2>
        <div class="usa-table-container--scrollable" tabindex="0">
            <table class="usa-table usa-table--striped usa-table--stacked">
                <thead>
                    <tr>
                        <th scope="col">Template name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for template in templates %}
                    <tr>
                        <th scope="row">{{ template.title }}</th>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>No templates found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
