{% extends "core_main_app/_render/user/theme_base.html" %}
{% load static %}

{% block meta %}
    {% include 'theme/meta.html' %}
{% endblock %}

{% block theme_css %}
    <link rel=icon href="{% static 'img/favicon.png' %}" sizes="16x16" type="image/png">

    <link rel="stylesheet" href="{% static 'vendor/uswds/css/uswds.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/uswds-overrides.css' %}" />
{% endblock %}
{% block theme_js %}
    <script src="{% static 'vendor/uswds/js/uswds-init.min.js' %}"></script>
    <script src="{% static 'vendor/uswds/js/uswds.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/btn_custom.js' %}"></script>
    <script src="{% static 'core_main_app/common/js/debounce.js' %}"></script>
{% endblock %}

{% block body %}
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    <div id="page-wrapper" class="usa-app">
        {% include 'theme/menu.html' %}
        <main id="main-content" class="usa-section usa-section--default usa-prose">
            {% block app_data %}{% endblock %}
        </main>
        {% include 'theme/footer/default.html' %}
    </div>
{% endblock %}
