{% load menu %}
{% load static %}
{% load get_attribute %}

<header
  class="usa-header usa-header--extended"
>
  <div
    class="usa-navbar"
  >
    <div
      class="usa-logo"
      id="extended-logo"
    >
      <em
        class="usa-logo__text"
      >
        <a
          href="/"
          title="CAISI AI TO"
        >
          CAISI AI TO
        </a>
      </em>
    </div>
    <button
      class="usa-menu-btn"
      type="button"
      aria-controls="primary-navigation"
    >
      Menu
    </button>
  </div>
  <nav
    class="usa-nav"
    id="primary-navigation"
    aria-label="Primary navigation"
  >
    <div
      class="usa-nav__inner"
    >
      <button
        class="usa-nav__close"
        type="button"
        aria-label="Close menu"
      >
        <img
          src="{% static 'vendor/uswds/img/usa-icons/close.svg' %}"
          alt=""
        />
      </button>
      {% block navigation_menu %}
      {% generate_menu %}
      <ul
        class="usa-nav__primary usa-accordion"
      >
        {% for item in menus.nodropdown %}
          <li
            class="usa-nav__primary-item"
          >
            <a
              class="usa-nav__link"
              href="{{ item.url }}"
            >
              <span>
                {% if item|get_attribute:'icon' %}
                  <i
                    class="fas fa-{{ item.icon }}"
                    aria-hidden="true"
                  ></i>
                {% endif %}
                {{ item.title }}
              </span>
            </a>
          </li>
        {% endfor %}

        {% generate_menu %}
        {% if menus.explorer %}
          <li
            class="usa-nav__primary-item"
          >
            <button
              class="usa-accordion__button usa-nav__link"
              type="button"
              aria-expanded="false"
              aria-controls="nav-exploration"
              id="nav-exploration-toggle"
            >
              <span>Data Exploration</span>
            </button>
            <ul
              class="usa-nav__submenu"
              id="nav-exploration"
              aria-labelledby="nav-exploration-toggle"
            >
              {% for item in menus.explorer %}
                <li
                  class="usa-nav__submenu-item"
                >
                  <a
                    href="{{ item.url }}"
                  >
                    {% if item|get_attribute:'icon' %}
                      <i
                        class="fas fa-{{ item.icon }}"
                        aria-hidden="true"
                      ></i>
                    {% endif %}
                    {{ item.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}

        {% generate_menu %}
        {% if menus.composer %}
          <li
            class="usa-nav__primary-item"
          >
            <button
              class="usa-accordion__button usa-nav__link"
              type="button"
              aria-expanded="false"
              aria-controls="nav-composer"
              id="nav-composer-toggle"
            >
              <span>Composer</span>
            </button>
            <ul
              class="usa-nav__submenu"
              id="nav-composer"
              aria-labelledby="nav-composer-toggle"
            >
              {% for item in menus.composer %}
                {% if not item|get_attribute:'require_authentication' or user.is_authenticated %}
                  <li
                    class="usa-nav__submenu-item"
                  >
                    <a
                      href="{{ item.url }}"
                    >
                      {% if item|get_attribute:'icon' %}
                        <i
                          class="fas fa-{{ item.icon }}"
                          aria-hidden="true"
                        ></i>
                      {% endif %}
                      {{ item.title }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endif %}

        {% generate_menu %}
        {% if menus.help %}
          <li
            class="usa-nav__primary-item"
          >
            <button
              class="usa-accordion__button usa-nav__link"
              type="button"
              aria-expanded="false"
              aria-controls="nav-help"
              id="nav-help-toggle"
            >
              <span>Help</span>
            </button>
            <ul
              class="usa-nav__submenu"
              id="nav-help"
              aria-labelledby="nav-help-toggle"
            >
              {% for item in menus.help %}
                <li
                  class="usa-nav__submenu-item"
                >
                  <a
                    href="{{ item.url }}"
                  >
                    {% if item|get_attribute:'icon' %}
                      <i
                        class="fas fa-{{ item.icon }}"
                        aria-hidden="true"
                      ></i>
                    {% endif %}
                    {{ item.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      </ul>
      {% endblock %}
      <div
        class="usa-nav__secondary"
      >
        <ul
          class="usa-nav__secondary-links"
        >
          {% if user.is_authenticated %}
            <li
              class="usa-nav__secondary-item"
            >
              <span>
                <i
                  class="fas fa-user-circle"
                  aria-hidden="true"
                ></i>
                {{ user }}
              </span>
            </li>
            <li
              class="usa-nav__secondary-item"
            >
              <a
                class="usa-button usa-button--unstyled"
                href="{% url 'core_main_app_logout' %}"
              >
                Logout
              </a>
            </li>
          {% else %}
            <li
              class="usa-nav__secondary-item"
            >
              <a
                class="usa-button usa-button--unstyled"
                href="{% url LOGIN_URL %}"
              >
                <i
                  class="fas fa-sign-in-alt"
                  aria-hidden="true"
                ></i>
                Log In / Sign Up
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
